* {
  font-family: sans-serif;
}
p {
  margin: 0;
}
body {
    background-image: url('./Ethiopian.jpg');
    background-size: cover; /* or 'contain', depending on your needs */
    background-repeat: no-repeat; /* prevents the image from repeating */
    background-position: center;
  /* background-color: #f1f0f5;
  background-image: ;
  align-items: center; */
}
button {
  border: none;
  background-color: inherit;
  padding: 1px, 4px;
  border-radius: 10px;
  color: #fffcff;
  cursor: pointer;
}
.delete-btn {
  background-color: #ff4d4f;
  width: 120px;
}
.delete-btn:hover {
  background-color: #e60000;
}

.edit-btn {
  background-color: yellowgreen;
  width: 120px;
}

.edit-btn:hover {
  background-color: green;
}
.edit-btn1 {
  background-color: yellowgreen;
}

.edit-btn1:hover {
  background-color: green;
}
#btn {
  background-color: #1c32c3;
  height:2rem;
  width: 60px;
}

#btn:hover {
  background-color: #1627a6;
}
h3 {
  color: #fffcff;
}

button:hover {
  background-color: rgba(15, 15, 152, 0.643);
}
.content_paragraph {
    /* overflow-x: scroll; */
  /* width: 200px;
  border-radius: 14px;
  background-color: white;
  height: 17px;
  padding: 10px 20px;
  border-style: none;*/
  padding: 2px; 
}
main {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-div {
  margin-top: 5px;
  /* margin-bottom: 10px; */
  height: 100%;
  align-items: center;
  border-radius: 14px;
  background-color: white;
  padding: 10px 5px;
  border-style: none;
  margin-right: 10px;
}
input {
  border-radius: 14px;
  background-color: rgb(223, 226, 239);
  height: 30px;
  padding: 5px 20px 5px 20px;
  border-style: none;
  margin-right: 10px;
}
#tasks {
    display: flex;
}
.all {
    width: 98%;
    min-height: 72vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow-x: scroll; */
}
.new {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: larger;
  }
  .new1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* font-size: larger; */
  }
.div1 {
    overflow-y: scroll;
    height: 50vh
}

.div2 {
  overflow-y: scroll;
  height: 50vh;
}
.done {
  background-color: blue;
}
.divv{
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.dd {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.adding {
  background-color:brown;
}
.adding:hover {
  background-color:rgb(109, 28, 28);
}
img {
  width: 100px;
}

.f {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    img {
      display: none;
    }
    .all {
      min-height: 77vh;
    }
}